{
  "name": "{{ '{{' }} .ServiceName {{ '}}' }} {{ '{{' }} .HttpMethod {{ '}}' }} {{ '{{' }} .EndpointPath {{ '}}' }} Latency p99",
  "description": "p99 latency SLO for {{ '{{' }} .ServiceName {{ '}}' }} {{ '{{' }} .EndpointDescription {{ '}}' }} — p99 response time < {{ '{{' }} .LatencyThresholdMs {{ '}}' }}ms.",
  "evaluationType": "AGGREGATE",
  "filter": "type(\"SERVICE_METHOD\"),entityName(\"{{ '{{' }} .HttpMethod {{ '}}' }} {{ '{{' }} .EndpointPath {{ '}}' }}\"),fromRelationships.runsOn(type(\"SERVICE\"),mzName(\"{{ '{{' }} .ManagementZone {{ '}}' }}\"))",
  "target": {{ '{{' }} .SLOTarget {{ '}}' }},
  "warning": {{ '{{' }} .SLOWarning {{ '}}' }},
  "timeframe": "-1w",
  "enabled": true,
  "useRateMetric": true,
  "metricNumerator": "builtin:service.keyRequest.response.time:percentile(99):filter(lt(value,{{ '{{' }} .LatencyThresholdMs {{ '}}' }}000)):splitBy()",
  "metricDenominator": "builtin:service.keyRequest.response.time:percentile(99):splitBy()",
  "errorBudgetBurnRate": {
    "fastBurnThreshold": 14,
    "burnRateVisualizationEnabled": true
  }
}
